<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="petrolEng" class="com.beans.PetrolEngine"/>
    <bean id="car" class="com.beans.Car">
        <property name="engine" ref="petrolEng"/>
    </bean>

</beans>


        <!--
        - For Setter Injection, use the <property> tag.
        - For Constructor Injection, use the <constructor-arg> tag.
        -->
